# Challenge 1

In this challenge you will be working on pokemons... You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](pokemon.jpg)

Follow the instructions below and enter your code.

### Import all required libraries

In [1]:
# import libraries

### Import data set

Import data set `Pokemon.csv` from the `your-code` directory of this lab. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# import data set
import dataset as ds
import numpy as np
import pandas as pd

pokemon = pd.read_csv('Pokemon.csv')

### Print first 10 rows of `pokemon`

In [3]:
# enter your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions as follows:

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | Sum of all stats that come after this, a general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

### Print the distinct values in `Type 1` and `Type 2` combined

In [80]:
# enter your code here

pokemon_type = pokemon.groupby[("Type 1, Type 2")].size().reset_index(name=freq)

TypeError: 'method' object is not subscriptable

Check out the pokemon names in the first 10 rows. You find there are junk texts in the pokemon names which contain "Mega". For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

### Cleanup `Name` that contain "Mega"

In [33]:
# enter your code here
pokemon.loc[pokemon['Name'].str.startswith('Mega'), 'Name'] = 'Mega Venusaur'
pokemon.loc[pokemon['Name'].str.startswith('Mega'), 'Name'] = 'Mega Charizard X'

# test transformed data

pokemon.head(10)


### por que me aparece name como un object cuando saco un type y cuando hago el cambio me sale como un boolean

KeyError: '[nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan\n nan nan nan nan nan nan nan nan] not in index'

### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`

For instance, pokemon #1 has the Attack score 49 and Defense score 49. The corresponding `A/D Ratio` is 49/49=1.

In [75]:
# enter your code here
pokemon['Attack/Defense Ratio'] = pokemon['Attack']/pokemon['Defense']

# test transformed data

pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack/Defense Ratio,Combo Type
0,1,1,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,2,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,3,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,NaN,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,4,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire
5,5,5,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448,Fire
6,6,6,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923,Fire-Flying
7,6,NaN,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171,Fire-Dragon
8,6,NaN,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333,Fire-Flying
9,7,7,Water,NaN,314,44,48,65,50,64,43,1,False,0.738462,Water

### Print the pokemon with the highest `A/D Ratio`

In [21]:
# enter your code here
pokemon["Attack/Defense Ratio"].max()
pokemon.loc[pokemon['Attack/Defense Ratio'] == 9.0]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack/Defense Ratio
429,386,386,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

### Print the pokemon with the lowest A/D Ratio

In [24]:
# enter your code here
pokemon["Attack/Defense Ratio"].min()
pokemon.loc[pokemon['Attack/Defense Ratio'] == 0.043478260869565216]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack/Defense Ratio
230,213,213,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478

### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Conditions:

* If `Type 2` value is a valid string, the `Combo Type` value should be `<Type 1>-<Type 2>` (e.g. `Grass-Poison`).

* If `Type 2` value is `NaN`, the `Combo Type` value should be the same as `Type 1` which always exists.

*Hint: Consider using function and `apply`.*

In [72]:
# enter your code here
  
def f(x): 
    res = x[0]
    if type(x[1]) == str: 
        res = res + '-' + x[1]
    return res

pokemon ['Combo Type'] = pokemon[['Type 1','Type 2']].apply(lambda x: f(x), axis=1)    


# test transformed data

pokemon.head(15)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack/Defense Ratio,Combo Type
0,1,1,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,2,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,3,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,NaN,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,4,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire
5,5,5,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448,Fire
6,6,6,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923,Fire-Flying
7,6,NaN,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171,Fire-Dragon
8,6,NaN,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333,Fire-Flying
9,7,7,Water,NaN,314,44,48,65,50,64,43,1,False,0.738462,Water
10,8,8,Water,NaN,405,59,63,80,65,80,58,1,False,0.787500,Water
11,9,9,Water,NaN,530,79,83,100,85,105,78,1,False,0.830000,Water
12,9,NaN,Water,NaN,630,79,103,120,135,115,78,1,False,0.858333,Water
13,10,10,Bug,NaN,195,45,30,35,20,20,45,1,False,0.857143,Bug
14,11,11,Bug,NaN,205,50,20,55,25,25,30,1,False,0.363636,Bug

### Print `Combo Type` for pokemons whose `A/D Ratio` are among the top 5

In [114]:
head_5 = pokemon.sort_values('Attack/Defense Ratio', ascending = False)['Combo Type'].head(5)
head_5

429       Psychic
347    Water-Dark
19     Bug-Poison
453          Rock
348    Water-Dark
Name: Combo Type, dtype: object

### For the 5 `Combo Type` values printed from the previous question, calculate the aggregated `Attack` scores for each `Combo Type`.

In [116]:
# enter your code here
pokemon.groupby(['Combo Type'])['Attack'].sum().filter(head_5)

Combo Type
Psychic       2468
Water-Dark     720
Bug-Poison     820
Rock           930
Water-Dark     720
Name: Attack, dtype: int64

### `Total` formula hypothesis testing

From the data descriptions you may have noticed there is a column called `Total` which indicates how strong the pokemon is. Make a hypothesis how `Total` is calculated and test your hypothesis. 

The general guideline is first examine the data carefully and make a guess how `Total` might have been calculated. You can write a math formula and convert it to a function. Then calculate the results based on your formula and store the results in a new column called `Guessed Total`. Next compare whether `Guessed Total` and `Total` contain the same values. If values match, congratuations you have verified your hypothesis! Otherwise, revise your formula, update the values in `Guessed Total`, and compare again.

In [ ]:
# enter your code here
combinacion lineal de varias columnas 

pokemon["Guessed Total"]